h1{
    text-align: center;
    background-color: lavenderblush;
    padding: 10px;
    margin: 0px;
    font-size: xx-large;
}

.result{
    color: magenta;
    text-align: center;
    font-size: 32px;
    padding: 10px;
}

button{
    margin: 10px;
    padding: 10px;
    justify-content: center;
    width: 200px;
    border-radius: 10px;

}

.button-container{
    display: flex;
    justify-content: center;
    margin: 20px;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

table{
    table-layout: fixed;
    width: 80%;
    border-collapse: collapse;
    border: 3px solid midnightblue;
    text-align: center;
    margin: 10px;
    border-radius: 10px;

}

thead th:nth-child(1) {
    width: 15%;
    border: 3px solid midnightblue;
  }
  
  thead th:nth-child(2) {
    width: 15%;
    border: 3px solid midnightblue;
  }
  
  thead th:nth-child(3) {
    width: 15%;
    border: 3px solid midnightblue;
  }
  
  thead th:nth-child(4) {
    width: 15%;
    border: 3px solid midnightblue;
  }
  
  th,
  td {
    padding: 20px;
    border: 3px solid midnightblue;
  }
  
  tbody td {
    text-align: center;
  }
  
  tfoot th {
    text-align: right;

  }